@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #212121; 
}
h1{
font-family: 'Dela Gothic One', cursive;
  color: white;
  font-size: 55px;
  font-weight: 400;
}
h3{
font-family: 'DM Sans', sans-serif;  color: white;
  font-size: 25px;
  font-weight: 800;
}
section{
  width: 100%;
  height: 100vh;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.calc_logo{
  background-color: white;
  border-radius: 100%;
  transform: scale(0.9);
}
.one-of-two{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hcb_logo{
  transform: scale(0.5);
  background-color: #151515;
  border-radius: 34px;
}
.highlight{
  color: #db8a74;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.5s;
  background-color: #212121;
  margin: 5px;
}
a:hover{
  background-color: black;
  color: whitesmoke;
  transform: scale(1.05);
  transition: 0.5s;
}
.what_we_do{
  width: 80%;
  border-radius: 25px;
}
@media screen and (max-width: 768px){
  .row{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .calc_logo{
    transform: scale(0.6);
    margin-top: 150px;
  }
  .one-of-two{
    width: 100%;
  }
  section{
    height: 100vh;
  }
  #info{
    margin-top: 300px;
  }
}