@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #212121;
}
h1 {
  font-family: "Dela Gothic One", cursive;
  color: white;
  font-size: 55px;
  font-weight: 400;
}
h3 {
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 800;
}
h2 {
  font-family: "Dela Gothic One", cursive;
  font-size: 25px;
  font-weight: 400;
}

section {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.calc_logo {
  background-color: white;
  border-radius: 100%;
  transform: scale(0.9);
}
.one-of-two {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hcb_logo {
  transform: scale(0.5);
  margin: -15px;
}
.highlight {
  color: #db8a74;
}
a {
  text-decoration: underline;
  color: white;
}
.buttons {
  text-decoration: none;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.5s;
  background-color: black;
  margin: 5px;
}
.buttons:hover {
  color: #db8a74;
  border: 2px solid #db8a74;
  transform: scale(1.05);
  transition: 0.5s;
}
.what_we_do {
  width: 80%;
  border-radius: 25px;
}
.under-construction {
  display: none;
}
iframe {
  border-radius: 25px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db8a74;
  border-radius: 100px;
  transition: 0.45s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  border-radius: 100px;
  transition: 0.45s;
}
.card {
  width: 30%;
  height: 90%;
  text-align: center;
  color: #fff;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-color: #333333;
}
.card img {
  width: 50%;
  background-color: #333333;
  border-radius: 100%;
  padding: 10px;
}
.card-body {
  text-align: center;
}
.card p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  section {
    display: none;
  }
  .row {
    display: none;
  }
  .under-construction {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    float: none;
  }
}

.one-of-three {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.officer-image {
  width: 80%; 
  border-radius: 100%;
  background-color: #333333;
  padding: 10px;
}